<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rotas</title>

    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/bootstrap-datepicker.standalone.min.css}" />
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/css/dataTables.bootstrap5.min.css}" />
</head>

<body>

    <header th:replace="Cabecalho"></header>

    <section layout:fragment="conteudo">
        Conteudo principal
    </section>
    
    <script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/rota.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-datepicker.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-datepicker.pt-BR.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/datatables.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/dataTables.bootstrap5.min.js}"></script>
</body>

</html>