<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="LayoutPadrao">

<head>
    <title>Pesquisa de Rotas</title>
</head>
<section layout:fragment="conteudo">
    <div th:replace="MensagemGeral"></div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="clearfix">
                <h1 class="panel-title lafs-titulo-panel">
                    Pesquisa de Rotas
                </h1>
                <a class="btn btn-link lafs-link-panel" th:href="@{/rotas/novo}">
                    Nova Rota
                </a>
            </div>
        </div>
        <div class="panel-body">
            <table id="lafs" class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center col-md-1">#</th>
                        <th class="text-center col-md-1">Placa</th>
                        <th class="text-center col-md-1">Frota</th>
                        <th>Motorista</th>
                        <th class="text-center col-md-1">Status</th>
                        <th class="text-center col-md-1">Data</th>
                        <th>Origem</th>
                        <th>Destino</th>
                        <th>Observação</th>
                        <th class="col-md-1">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="rota :${rotas}">
                        <td class="text-center" th:text="${rota.id}"></td>
                        <td class="text-center" th:text="${rota.placa}"></td>
                        <td class="text-center" th:text="${rota.frota}"></td>
                        <td th:text="${rota.motorista}"></td>
                        <td class="text-center" >
                            <span class="label" th:text="${rota.status.descricao}" th:classappend="${#strings.toString(rota.status) == 'EM_VIAGEM' ? 'label-success' : 'label-danger'}"></span>
                        </td>
                        <td class="text-center" th:text="${{rota.data}}"></td>
                        <td th:text="${rota.origem}"></td>
                        <td th:text="${rota.destino}"></td>
                        <td th:text="${rota.observacao}"></td>
                        <td class="text-center">
                            <a class="btn btn-link btn-xs" th:href="@{/rotas/{id}(id=${rota.id})}" title="editar" rel="tooltip" data-placement="left">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmacaoExclusaoModal"
                            th:attr="data-id=${rota.id}, data-origem=${rota.origem}, data-destino=${rota.destino}" title="excluir" rel="tooltip" data-placement="left">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div th:replace="DialogoConfirmacaoExclusao"></div>

    </div>
</section>

</html>